.hero {
  min-height: 60vh;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 3rem;
  font-weight: bolder;
  margin-bottom: 3rem;
}
.title span {
  padding: 0 1rem;
  border-bottom: 0.3rem solid yellowgreen;
}
.icons {
  font-size: 3rem;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.icons i {
  font-size: 3rem;
}
.icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}
.projects {
  background: rgba(190, 168, 170, 0.24);
  background-blend-mode: darken;
}

.footer {
  background: #292a2ae2;
  color: white;
}
.goup {
  position: fixed;
  bottom: 100px;
  right: 20px;
}
.top-nav {
  background-color: #5eb1bf;
  color: white;
  font-size: large;
}

.layout {
  min-height: 75vh;
}

.projectImage {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.011),
    0 6px 20px 0 rgba(0, 0, 0, 0.029);
  width: 70%;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.aboutmeImg {
  background-color: #0a6d70;
  border-radius: 50%;
  box-shadow: 5px 10px 3px 2xp rgb(153, 20, 20);
}

.aboutme {
  background: linear-gradient(
    rgba(182, 143, 188, 0.046),
    rgba(65, 65, 113, 0.08)
  );

  clip-path: polygon(0% 0%, 100% 0, 100% 54%, 75% 100%, 0% 100%);
}

/* contact section  */
.horizontal {
  border-bottom: 1px solid grey; /* creates a 1-pixel-thick black line */
  width: 20%; /* sets the width of the line to 50% of the container */
}
.section{
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}
.section > p> a> i:hover {
 font-size:xx-large;



}
.contact-input-form{
  margin: 10px;
 font-family: "Times New Roman", Times, serif;


}